<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <style>
        .table {
            border-collapse: collapse;
            width: 100%;
            border: 2px solid black;
            margin: fill;
            text-align: center;
            word-break: break-all;
        }
        table td, table th {
            padding: 10px;
            border: 2px solid black;
        }
    </style>

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>

        <table class="table">
            <th:block th:each="review: ${reviewsDTO}">
                <tr>
                    <td th:text="${review.id}" width="20%">ID</td>
                    <td th:text="${review.name}" width="20%">NAME</td>
                    <td th:text="${review.text}" width="20%">TEXT</td>
                    <td th:text="${review.score}" width="20%">SCORE</td>
                    <td>
                        <a th:href="@{/review/edit/form/{id}(id=${review.getId()})}" width="10%">EDIT</a>
                    </td>
                    <td>
                        <a th:href="@{/review/remove/{id}(id=${review.getId()})}" width="10%">REMOVE</a>
                    </td>
                </tr>
            </th:block>
        </table>

        <br>
        <form action="/review/create/form" class="button">
            <input type="submit" value="CREATE PROJECT" class="customButton">
        </form>

    </body>

</html>